#asideMiddleLinkAddTask{
    background-color: #091931;
    color: white;
}

#asideMiddleLinkAddTask img{
    filter: brightness(2);
}

#desktopContainerLinkAddTask{
    background-color: #091931;
    border-radius: 8px;
    width: 76px;
    height: 76px;
    color: white;
}

#desktopContainerLinkAddTask img{
    filter: brightness(2);
}

.addTaskMainContainer {
    display: flex;
    flex-direction: column;
}

.spacerAddTasks {
    height: 424px;
    border: 1px solid #D1D1D1;
    margin: 0 40px;
}

.addTaskTitle {
    margin-top: 48px;
    gap: 20px;
    font-size: 47px;
    font-weight: 700;
}

.mainAddTask {
    display: flex;
}

.mainAddTask label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.formAddTask {
    display: flex;
}

.addTasksLeft {
    display: flex;
    flex-direction: column;
    width: 440px;
}

.addTaskThisFieldIsRequiredLeft {
    margin-top: 180px;
}

.addTasksRight {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 416px;
}

.addTaskTitleContainer,
.addTaskDescriptionContainer,
.addTaskAssignedToContainer,
.addTaskDueDateContainer,
.addTaskPrioContainer,
.addTaskCategoryContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.assignedContactsContainer {
    display: flex;
    padding-top: 16px;
}

.addTaskTitleContainer input {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    transition: border-color 0.3s;
    padding: 10px 21px 10px 21px;
    font-size: 16px;
}

.addTaskTitleContainer input:focus {
    border-color: #29ABE2; 
    outline: none; 
}

.addTaskDescriptionContainer textarea {
    height: 88px;
    max-width: 396px;
    padding: 18px 21px 18px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-size: 16px;
}

.addTaskDescriptionContainer textarea:focus {
    border-color: #29ABE2; 
    outline: none; 
}

.addTaskAssignedToContainer select {
    justify-content: space-between;
    margin-bottom: 180px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    transition: border-color 0.3s;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    background-image: url(../assets/img/addTaskArrowDropDown.svg);
    background-size: 10px;
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-color: white;
    cursor: pointer;
}

#assignedTo {
    -webkit-appearance: none; 
    -moz-appearance: none;     
    appearance: none;          
}

.addTaskCategoryContainer select {
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    transition: border-color 0.3s;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    background-image: url(../assets/img/addTaskArrowDropDown.svg);
    background-size: 10px;
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-color: white;
    cursor: pointer;
}

#category {
    -webkit-appearance: none; 
    -moz-appearance: none;     
    appearance: none;          
}

.addTaskAssignedToContainer select:focus {
    border-color: #29ABE2; 
    outline: none; 
}

.addTaskDueDateContainer input {
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    transition: border-color 0.3s;
    padding: 8px 21px 8px 21px;
    font-size: 16px;
    font-family: 'Inter';
}

.addTaskDueDateContainer input:focus {
    border-color: #29ABE2; 
    outline: none; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../assets/img/CalenderEditBoard.svg) no-repeat; 
    width: 20px;
    height: 20px;
    border-width: thin;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}

.addTaskPrioButtonContainer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.addTaskCategoryContainer select:focus {
    border-color: #29ABE2; 
    outline: none; 
}

.addTaskCreateTaskContainer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 60px;
}

.addTaskCreateTaskContainer span {
    display: none;
}

.addTaskCreateTaskButton {
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    padding: 16px;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    gap: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.addTaskCreateTaskButton:hover {
    background-color: #29ABE2;
}

.addTaskClearTaskButton {
    border: solid 1px #2A3647;
    color: #2A3647;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    width: 126px;
    height: 56px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addTaskClearTaskButton:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
}

.addTaskClearTaskButton img {
    margin-left: 8px;
    height: 10.49px;
    width: 10.49px;
}

.addTaskClearTaskButton:hover img {
    filter: invert(47%) sepia(77%) saturate(2275%) hue-rotate(158deg) brightness(98%) contrast(102%);
}

/* Background Color */
.buttonPrio {
    height: 41px;
    border-radius: 10px;
    padding: 18px 10px;
    margin-bottom: 8px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 100%;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.buttonPrio:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.backgroundColorRed {
    background-color: #FF3D00;
    color: white;
}

.backgroundColorOrange {
    background-color: #FFA800;
    color: white;
}

.backgroundColorGreen {
    background-color: #7AE229;
    color: white;
}

.buttonPrio img {
    filter: none; 
}

.buttonPrioWhite img {
    filter: brightness(0) invert(1); 
}


.editAssignedTo {
    display: flex;
    flex-direction: column;
}

.choosingListRow {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    align-items: center;
}

.choosingListRow:hover{
    background-color: #A8A8A8;
    border-radius: 10px;
    border: unset;
    cursor: pointer;
}

.choosingListLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.choosingListUserInitials {
    color: white;
    font-size: 14px;
}

.choosingListUserIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin: 0 !important;
}

#contactsDropDown {
    border: unset;
    font-size: 16px;
    width: 93%;
}

#contactsDropDown:focus {
    outline: none;
}

.contactsDropDownInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 16px;
    padding: 12px 21px;
    z-index: 2;
    background-color: white;
}

.openCloseChoosingListImg {
    background-image: url(../assets/img/arrowDropDown.svg);
    height: 24px;
    width: 24px;
}

#openCloseChoosingListImg:hover{
    cursor: pointer;
}

.dnone {
    display: none !important;
}

.CFF7A00 {
    background-color: #FF7A00;
    margin-left: -5px;
}

.CFF5EB3 {
    background-color: #FF5EB3;
    margin-left: -5px;
}

.C6E52FF {
    background-color: #6E52FF;
    margin-left: -5px;
}

.C9327FF {
    background-color: #9327FF;
    margin-left: -5px;
}

.C00BEE8 {
    background-color: #00BEE8;
    margin-left: -5px;
}

.C1FD7C1 {
    background-color: #1FD7C1;
    margin-left: -5px;
}

.CFF745E {
    background-color: #FF745E;
    margin-left: -5px;
}

.CFFA35E {
    background-color: #FFA35E;
    margin-left: -5px;
}

.CFC71FF {
    background-color: #FC71FF;
    margin-left: -5px;
}

.CFFC701 {
    background-color: #FFC701;
    margin-left: -5px;
}

.C0038FF {
    background-color: #0038FF;
    margin-left: -5px;
}

.CC3FF2B {
    background-color: #C3FF2B;
    margin-left: -5px;
}

.CFFE62B {
    background-color: #FFE62B;
    margin-left: -5px;
}

.CFF4646 {
    background-color: #FF4646;
    margin-left: -5px;
}

.CSFFBB2B {
    background-color: #FFBB2B;
    margin-left: -5px;
}

.CFF70AA {
    background-color: #CFF70A;
    margin-left: -5px;
}

.rotate180 {
    transform: rotate(180deg);
}

.choosingListCheck {
    height: 24px;
    width: 24px;
}

.completedFalse {
    background-image: url(../assets/img/checkEmpty.svg);
}

.completedTrue {
    background-image: url(../assets/img/checked.svg);
}

@media (max-width: 1300px) {
    .mainAddTask {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .formAddTask {
        flex-direction: column;
    }

    .addTasksLeft {
        width: 100%;
    }

    .spacerAddTasks {
        display: none;
    }

    .addTasksRight {
        width: 100%;
        margin-bottom: 44px;
        margin-top: 16px;
    }

    .addTaskMainContainer {
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .addTaskCreateTaskContainer {
        justify-content: space-between;
    }

    .addTaskCreateTaskContainer span {
        display: flex;
    }

    .addTaskThisFieldIsRequiredLeft {
        display: none;
    }

    .addTaskThisFieldIsRequiredRight {
        display: flex;
    }

    .addTaskDescriptionContainer textarea {
        resize: none;
        max-width: 100%;
    }

    .addTaskClearTaskButton {
        display: none;
    }

    .addTaskAssignedToContainer select {
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .addTaskPrioButtonContainer {
        gap: 8px;
        flex-direction: column;
    }
}

/* Subtask */

input:-internal-autofill-selected {
 background-color: white;
}

.editSubTasksInputContainer:focus {
    border-color: #29ABE2; 
    outline: none; 
}

.editSubTasksInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    transition: border-color 0.3s;
    padding: 10px 21px 10px 21px;
    font-size: 16px;
    background-color: white;
}

#editSubTasks {
    border: unset;
    font-size: 16px;
    flex: 1;
    outline: none;
}

.addSubTaskImg:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.subTaskEditRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.subTaskEditRowRight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 16px;
}

.editSubTaskDeleteImg:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.editSubTaskEditImg:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.editSubTaskInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    z-index: 2;
    background-color: white;
    width: 100%;
    padding-left: 16px;
    border-radius: 10px;
}

.editSubTaskEditInput{
    border: unset;
    font-size: 16px;
    flex: 1;
    height: 32px;
}

.editSubTaskEditInput:focus{
    outline: none;
    border-bottom: 1px solid #29ABE2
}

.subTaskEditEditRowRight{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 8px;
}