html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Inter';
    background-color: #F6F7F8;
    min-height: 100vh;
    overflow-y: auto;
}

#asideMiddleLinkAddTask{
    background-color: #091931;
    color: white;
}

#asideMiddleLinkAddTask img{
    filter: brightness(2);
}

main{
    margin-top: 100px;
    margin-bottom: 80px;
    padding-right: 10px;
}

#desktopContainerLinkAddTask{
    background-color: #091931;
    border-radius: 8px;
    width: 76px;
    height: 76px;
    color: white;
}

#desktopContainerLinkAddTask img{
    filter: brightness(2);
}

.main-title {
    font-weight: 700;
    font-size: 47px;
    line-height: 56.4px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    width: 214px
}

.task-form .form-group {
    margin-bottom: 20px;
}

.input-label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
}

.input-box {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    padding-right: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.Descriptionbox{
    width: 396px;
    height: 88px;
    border-radius: 10px;
    border: 1px;
    padding:18px, 21px, 18px, 21px;
    gap: 10px;  
    padding-right: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.icon {
    position: absolute;
    right: 10px;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer; /* Icon klickbar machen */
    margin-right: 3%;
}

.input-label .required {
    color: red;
}

.input-box.title-placeholder::placeholder {
    color: #aaa;
}

.input-box.description-placeholder::placeholder {
    color: #aaa;
}

.input-box.due-date-placeholder::placeholder {
    color: #aaa;
}

.select-placeholder {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.category-placeholder {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.btn.longer{
    padding-right: 40px; /* Verlängert den rechten Button nach rechts */

}

.priority-options {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;

}

.secondary1 {
    background-color: white;
}

.secondary2 {
    background-color: white;
}

.secondary3 {
    background-color: white;
}

.secondary1:active {
    background-color: red;
    color: white;
    border-color: red;
    
}

.secondary2:active {
    background-color: orange;
    color: white;
    border-color: orange;
}

.secondary3:active {
    background-color: green;
    color: white;
    border-color: green;
}

.text .required {
    color: red;
}

.error-message {
    display: none;
    color: red;
}

.container {
    display: flex;
    align-items: center;
}

.small-button {
    margin-left: auto;
    width: 183px;
    height: 56px;
    padding: 16px;
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700px;
    font-size: 21px;
    line-height: 25.2px;
}

.custom-group .input-box {
    width: 100%;
    padding: 10px;
    gap: 10px;
    font-size: 16px;
    border-radius: 10px; /* Keine abgerundeten Ecken für die Eingabefelder */
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 88px; /* Höhe der Eingabefelder innerhalb der Gruppe */
    text-align: left;
    align-items: flex-start; /* Text oben ausrichten */
    justify-content: flex-start; /* Text links ausrichten */
}

.btn-icon {
    width: 20px; /* Breite des Icons anpassen */
    height: 14,51; /* Höhe des Icons anpassen */
    margin-left: 5px; /* Abstand zwischen dem Text und dem Icon */
    vertical-align: middle; /* Vertikal zentrieren */
    
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
