html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Inter';
    background-color: #F6F7F8;
    min-height: 100vh;
    overflow: auto !important;
}

#asideMiddleLinkBoard {
    background-color: #091931;
    color: white;
}

#asideMiddleLinkBoard img {
    filter: brightness(2);
}

main {
    margin-top: 100px;
    margin-bottom: 80px;
    margin-right: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

#desktopContainerLinkBoard {
    background-color: #091931;
    border-radius: 8px;
    width: 76px;
    height: 76px;
    color: white;
}

#desktopContainerLinkBoard img {
    filter: brightness(2);
}

.boardHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.boardHeadline {
    font-weight: 700;
    font-size: 47px;
}

.searchMobile {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    height: 48px;
    margin-top: 40px;
    box-sizing: border-box;
}

.searchMobile:hover {
    cursor: pointer;
}

.searchMobileInput {
    flex: 1;
    height: 40px;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    font-size: 20px;
}

.searchMobileInput::placeholder {
    color: #D1D1D1;
    font-size: 20px;
}

.searchMobileInput:focus {
    outline: none;
}

.searchMobileInput:hover {
    cursor: pointer;
}

.searchMobileSeparator {
    height: 31px;
    width: 1px;
    background-color: #D1D1D1;
}

.searchIconMobile {
    width: 32px;
    height: 32px;
}

.taskContainer {
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    gap: 16px;
}

.taskContainerHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskContainerHeadline {
    font-weight: 700;
    font-size: 27px;
}

.taskContainerContent {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.task {
    display: flex;
    min-width: 220px;
    max-width: 220px;
    min-height: 231px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px #0000000a;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: start;
    padding: 16px;
}

.taskCategory {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 16px;
    border-radius: 8px;
    background-color: blue;
}

.taskTitle {
    font-weight: 700;
    font-size: 16px;
    margin-top: 24px;
}

.taskDescription {
    font-size: 16px;
    font-weight: 400;
    color: #a8a8a8;
    margin-top: 8px;
}

.progressContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.progressBar {
    flex: 1;
    background-color: #F4F4F4;
    height: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.progress {
    background-color: #4589FF;
    height: 8px;
    border-radius: 8px;
    width: 50%;
}

.progressText {
    font-size: 12px;
    font-weight: 400;
    padding-left: 8px;
}

.taskBottom {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignedTo {
    display: flex;
    align-items: center;
}

.userIcon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}

.userInitials {
    color: white;
    font-size: 12px;
    font-weight: 400;
}