html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Inter';
    background-color: #F6F7F8;
    min-height: 100vh;
}

.d-none {
    display: none;
}

#content {
    flex-grow: 1;
    overflow-y: auto;
    padding-left: 232px;
}

.innerListContainer {
    max-height: calc(100vh - 96px);
    max-width: 456px;
    overflow-y: auto;
    margin-bottom: 24px;
    padding: 32px 16px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 8px;
  }

#asideMiddleLinkContacts{
    background-color: #091931;
    color: white;
}

#asideMiddleLinkContacts img{
    filter: brightness(2);
}

main {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-right: 10px;
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
}

#desktopContainerLinkContacts{
    background-color: #091931;
    border-radius: 8px;
    width: 76px;
    height: 76px;
    color: white;
}

#desktopContainerLinkContacts img{
    filter: brightness(2);
}

.innerListContainer {
    padding: 32px 52px;
}

.listButtonContainer {
    display: flex;
    justify-content: center;
    max-width: 456px;
}

.addContactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    background-color: #2A3647;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 12px;
    padding: 12px 24px;
    width: 100%; 
    max-width: 800px; 
    border: none; 
}

.addContactButton:hover {
    background-color: #29ABE2;
}

.addContactButtonMobile {
    display: none;
}

.addNewPersonAdd {
    padding-left: 12px;
}

.contactItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 32px;
    padding: 12px 24px;
}

.contactItem:hover {
    background-color: #EEEEEE;
    border-radius: 8px;
}

.contactDetails h3 {
    margin: 12px 0;
    font-weight: normal;
    font-size: 24px;
}

.contactDetails p {
    margin: 0;
    color: #007cee;
}

.shortName {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 8px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.letterHeader h2 {
    margin-left: 32px;
}

@media (max-width: 1000px) {
    .addContactButton {
        display: none;
    }

    .addContactButtonMobile {
        position: absolute;
        bottom: 100px;
        right: 24px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2A3647;
        border-radius: 100%;
        cursor: pointer;
        margin-bottom: 12px;
        padding: 20px;
    }

    .contactsHTMLContainer {
        width: 100%;
    }

    .contactList {
        margin: 0 32px 32px 32px;
    }
}