header{
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerContainerLeftImg{
 width: 32px;
 padding-left: 10px;
}

.headerContainerRightUserIcon{
    height: 40px;
    width: 40px;
    border: 2px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.dNoneheaderContainerRightUserIcon{
    display: none;
}