html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Inter';
    background-color: #F6F7F8;
    min-height: 100vh;
}

#asideMiddleLinkSummary{
    background-color: #091931;
    color: white;
}

#asideMiddleLinkSummary img{
    filter: brightness(2);
}

main{
    margin-top: 100px;
    margin-bottom: 80px;
    padding-right: 10px;
}

#desktopContainerLinkSummary{
    background-color: #091931;
    border-radius: 8px;
    width: 76px;
    height: 76px;
    color: white;
}

#desktopContainerLinkSummary img{
    filter: brightness(2);
}