<div class="asideContainer">
    <img class="asideContainerLogo" src="../assets/img/logoBright.svg" alt="logo">
    <div id="asideMiddle">
        <a id="asideMiddleLinkSummary" class="asideMiddleLink" href="../html/summary.html">
            <img src="../assets/img/summary.svg" alt="">
            <span>Summary</span>
        </a>
        <a id="asideMiddleLinkAddTask" class="asideMiddleLink" href="../html/add_task.html">
            <img src="../assets/img/addTask.svg" alt="">
            <span>Add Task</span>
        </a>
        <a id="asideMiddleLinkBoard" class="asideMiddleLink" href="../html/board.html">
            <img src="../assets/img/board.svg" alt="">
            <span>Board</span>
        </a>
        <a id="asideMiddleLinkContacts" class="asideMiddleLink" href="../html/contacts.html">
            <img src="../assets/img/contacts.svg" alt="">
            <span>Contacts</span>
        </a>
    </div>
    <div class="asideBottom">
        <a id="asideBottomLinkPrivacy" class="asideBottomLink" href="../html/privacy_policy.html">
            <span>Privacy Policy</span>
        </a>
        <a id="asideBottomLinkLegal" class="asideBottomLink" href="../html/legal_notice.html">
            <span>Legal Notice</span>
        </a>
    </div>
</div>