<div class="desktopContainer">
    <a class="desktopContainerLink" href="../html/summary.html">
        <img src="../assets/img/summary.svg" alt="">
        <span>Summary</span>
    </a>
    <a class="desktopContainerLink" href="../html/board.html">
        <img src="../assets/img/board.svg" alt="">
        <span>Board</span>
    </a>
    <a class="desktopContainerLink" href="../html/add_task.html">
        <img src="../assets/img/addTask.svg" alt="">
        <span>Add Task</span>
    </a>
    <a class="desktopContainerLink" href="../html/contacts.html">
        <img src="../assets/img/contacts.svg" alt="">
        <span>Contacts</span>
    </a>
</div>