<div class="headerContainer">
    <div class="headerContainerLeft">
        <img class="headerContainerLeftImg" src="../assets/img/logoDark.svg" alt="">
        <span class="headerContainerLeftKanbanText">Kanban Project Management Tool</span>
    </div>
    <div class="headerContainerRight">
        <a href="../html/help.html" class="headerContainerRightHelp"><img src="../assets/img/help.svg" alt=""></a>
        <div class="headerContainerRightUserIcon" id="headerContainerRightUserIcon">
            <span id="headerContainerRightUserIconInitials">NS</span>
        </div>
    </div>
</div>