<div class="headerContainer">
    <div class="headerContainerLeft">
        <img class="headerContainerLeftImg" src="../assets/img/logoDark.svg" alt="">
        <span class="headerContainerLeftKanbanText">Kanban Project Management Tool</span>
    </div>
    <div class="headerContainerRight">
        <a href="../html/help.html" id="headerContainerRightHelp" class="headerContainerRightHelp"><img src="../assets/img/help.svg" alt=""></a>
        <div class="headerContainerRightUserIcon" id="headerContainerRightUserIcon" onclick="showHeaderMenu()">
            <span id="headerContainerRightUserIconInitials">G</span>
        </div>
    </div>
    <div id="headerMobileMenu" style="right: -180px;">
        <a class="headerMobileMenuHelp" href="../html/help.html">Help</a>
        <a href="../html/legal_notice.html">Legal Notice</a>
        <a href="../html/privacy_policy.html">Privacy Policy</a>
        <div href="../html/index.html" onclick="logout()">Log Out</div>
    </div>
</div>